<h1>ohanami</h1>
<h2>all drinks</h2>
<div id="drinks">
  <div class="drink">
    <h3>Sake</h3>
    <p>from <strong>Japan</strong></p>
  </div>
  <div class="drink">
    <h3>Beer</h3>
    <p>from <strong>Japan</strong></p>
  </div>
</div>
